$dark-grey: rgba(55, 53, 47, 0.6);
$grey: rgba(55, 53, 47, 0.3);
$light-grey: rgba(55, 53, 47, 0.08);

$dark-white: #F7F6F3;
$white: #fff;

$light-black: rgba(25, 23, 17, 0.6);

$hovered-active-link: rgba(55, 53, 47, 0.16);

$small-tablet: 568px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1920px;
